@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 241, 241;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: Anton;
    src: url('../assets/fonts/anton_regular.ttf');
  }

  @font-face {
    font-family: DMSans;
    src: url('../assets/fonts/dmsans_variable.ttf');
  }

  @font-face {
    font-family: DMSans Italic;
    src: url('../assets/fonts/dmsans_italic_variable.ttf');
  }
}